.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.city {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border-bottom-style: 2px solid black;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align-last: center;
}

.search-box svg {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.search-box::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: #ccc;
    margin-top: 20px;
}

.api-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
}